@import "tailwindcss";
@config "../../tailwind.config.ts";

@theme {
  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: var(--font-display), sans-serif;
  --font-mono: var(--font-mono), ui-monospace, monospace;
}

.shadow-inner-scroll-y {
  background:
    /* Shadow covers */
    linear-gradient(white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
    /* Shadows */
    radial-gradient(
        farthest-side at 50% 0,
        color-mix(in oklab, var(--color-stone-500) 40%, transparent),
        transparent
      ),
    radial-gradient(
        farthest-side at 50% 100%,
        color-mix(in oklab, var(--color-stone-500) 40%, transparent),
        transparent
      )
      0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size:
    100% 3.75rem,
    100% 3.75rem,
    100% 1.25rem,
    100% 1.25rem;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.OuterRingAnimation {
  /* background: black; */
  text-align: center;

  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.OuterRingAnimation::after,
.OuterRingAnimation::before {
  content: "";
  position: absolute;
  height: 100%;
  background-image: conic-gradient(
    from var(--angle),
    red,
    blue,
    yellow,
    green,
    red
  );
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: inherit;
  animation: 3s spin linear infinite;
}

.OuterRingAnimation::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
